{# Main file for output of editing task. #}

{% extends 'layouts/base.html.twig'%}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="mt-3">
        {{ include('todo/editTask/inc/editTaskForm.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% if editTaskJS is defined %}{{ editTaskJS }}{% endif %}"></script>
{% endblock %}