{# Form of subtask that has to be used in edit task form #}


<div class="form-row">
    <div class="col-1 text-right">
        <label class="container-checkbox-task">
            {{ form_widget(editTaskForm.subtasks.vars.prototype.isDone) }}
            <span class="checkmark-task form-control"></span>
        </label>
    </div>
    
    <div class="form-group col">
        {{ form_row(editTaskForm.subtasks.vars.prototype.title, {"attr": {
            "class": "form-control",
            "placeholder": "What to do"
        }}) }}
    </div>
</div>