{# Form of user model in list #}

<div class="form-row">
    <div class="form-group col">
        {{ form_widget(editListForm.users.vars.prototype.username, {"attr": {
            "class": "form-control",
            "placeholder": "Username",
        }})}}
    </div>

    <div class="form-group col-3">
        {{ form_widget(editListForm.users.vars.prototype.permission, {"attr": {
            "class": "form-control",
        }})}}
    </div>
</div>